<!DOCTYPE html>
<html lang="en">
    <head>
        <title>REGISTRO USUARIO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
            <h1>REGISTRO USUARIO</h1>
            <form action="accionGrabarUsuairo"> 
                <table>
                    <tr>
                        <td>
                            <label for="user">Usuario</label>
                        </td>
                        <td>
                            <input type="text" id="user" name="user" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Clave</label>
                        </td>
                        <td>
                            <input type="text" id="password" name="password" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="nombreApellido">Nombres</label>
                        </td>
                        <td>
                            <input type="text" id="nombreApellido" name="nombreApellido" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Registrar"/>
                        </td>
                    </tr>
                </table>
            </form>
    </body>
</html>