<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PAGINA PRINCIPAL</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>PAGINA PRINCIPAL</h1>
        <h2>
            <a th:href="@{/listarCursos}">Listar Cursos</a>
        </h2>
        <h2>
            <a th:href="@{/listarUsuarios}">Listar Usuarios</a>
        </h2>
    </body>
</html>