<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>MANTENIMIENTO CURSOS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>MANTENIMIENTO DE CURSOS</h1>
        <table>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Fecha Inicio</th>
                    <th>Alumnos Minimo</th>
                    <th>Inscritos</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="curso : ${listaCursos}">
                    <td th:text="${curso.getIdCurso()}"></td>
                    <td th:text="${curso.getNombreCurso()}"></td>
                    <td th:text="${curso.getFechaInicio()}"></td>
                    <td th:text="${curso.getAlumnosMinimo()}"></td>
                    <td th:text="${curso.getAlumnosActual()}"></td>
                    <td th:text="${curso.getEstado()}"></td>
                    <td>
                        <a th:href="@{/curso/editar/${curso.getCodigo()}}">Editar</a>
                        <a th:href="@{/curso/eliminar/${curso.getCodigo()}}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>    
    </body>
</html>