<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>ACTUALIZAR USUARIO</title>
    </head>
    <body>
        <h1>EDITAR USUARIO</h1>
        <form th:object="${usuario}" th:action="@{actualizarUsuario}"  enctype="multipart/form-data">
            <table>
                <tr>
                    <td>
                        <label for="user">User: </label>
                    </td>
                    <td>
                        <input type="text" id="user" name="user" th:field="*{user}"/>
                        <input type="hidden" id="idUsuario" name="idUsuario" th:field="*{idUsuario}"/>
                    </td>
                    <td th:if="${#fields.hasErrors('user')}" th:errors="*{user}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Passwod: </label>
                    </td>
                    <td>
                        <input type="text" id="password" name="password" th:field="*{password}"/>
                    </td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="nombreCompleto">Nombre Completo:</label>
                    </td>
                    <td>
                        <input type="text" id="nombreCompleto" name="nombreCompleto" th:field="*{nombreCompleto}" />
                    </td>
                    <td th:if="${#fields.hasErrors('nombreCompleto')}" th:errors="*{nombreCompleto}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Foto:</label>
                    </td>
                    <td>
                        <input type="file" name="archivo">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2"> <input type="submit" value="ACTUALIZAR"/> </td>                   
                </tr>
                <tr>
                    <td colspan="2" >
                        <label th:text="${msgError!=null} ? ${msgError}: ''" style="color: red" >
                        </label>
                    </td>
                </tr>
            </table>            
        </form>        
    </body>
</html>
