<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>ACTUALIZAR USUARIO</title>
    </head>
    <body>
        <h1>EDITAR USUARIO</h1>
        <form th:object="${usuario}" th:action="@{actualizarUsuario}"  enctype="multipart/form-data" method="POST">
            <table>
                <tr>
                    <td>
                        <label for="user">User: </label>
                    </td>
                    <td>
                        <input type="text" id="user" name="user" th:field="*{user}"/>
                        <input type="hidden" id="idUsuario" name="idUsuario" th:field="*{idUsuario}"/>
                    </td>
                    <td th:if="${#fields.hasErrors('user')}" th:errors="*{user}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="clave">Passwod: </label>
                    </td>
                    <td>
                        <input type="text" id="clave" name="clave" th:field="*{clave}"/>
                    </td>
                    <td th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="nombreApellido">Nombre Completo:</label>
                    </td>
                    <td>
                        <input type="text" id="nombreApellido" name="nombreApellido" th:field="*{nombreApellido}" />
                    </td>
                    <td th:if="${#fields.hasErrors('nombreApellido')}" th:errors="*{nombreApellido}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Foto:</label>
                    </td>
                    <td>
                        <input type="file" name="archivo">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2"> <input type="submit" value="ACTUALIZAR"/> </td>                   
                </tr>
                <tr>
                    <td colspan="2" >
                        <label th:text="${msgError!=null} ? ${msgError}: ''" style="color: red" >
                        </label>
                        <br><a href="mantenimientoUsuario">REGRESAR</a>
                    </td>
                </tr>
            </table>            
        </form>        
    </body>
</html>
